/.idea
/scripts/
# Dépendances
/vendor/

# Archive Composer
composer.phar

# Fichiers de configuration sensibles (Identifiants BDD)
.env
.env.local
.env.production
config.php

# Fichiers système et IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Logs et dossiers temporaires
*.log
/temp/
/cache/

# fichier perso
/src/Views/js/creation_questionnaire/*.txt
/src/Views/js/repondre_questionnaire/*.txt

# accès à l'https
.htaccess

