# Configuration du CAS Unilim

<?php
// Configuration du serveur CAS de l'Université de Limoges
define('CAS_HOST', 'cas.unilim.fr');
define('CAS_PORT', 443);
define('CAS_CONTEXT', '/cas');
define('CAS_VERSION', CAS_VERSION_2_0);

// URL de votre propre serveur (important pour le retour après connexion)
define('MY_APP_URL', 'https://164.81.120.74');
?>