header#header {
    background-color: #556677;
    padding-bottom: 40px;
}

header#header > div#div-header {
    background: #D72222;
    padding: 30px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    max-height: 30px;
}

header#header > img#img-header {
    width: 7%;
    max-width: 75px;
    position: absolute;
    top: 10px;
    right: 20px;
}

@media screen and (max-width: 900px) {
    header#header > img#img-header {
        top: 8px;
        right: 10px;
        width: 4%;
    }

    header#header > div#div-header {
        padding: 15px;
    }

    header#header {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 450px) {
    header#header > img#img-header {
        top: 8px;
        right: 10px;
        width: 4%;
    }

    header#header > div#div-header {
        padding: 10px;
    }

    header#header {
        padding-bottom: 10px;
    }
}