header#header {
    background-color: #556677;
    padding-bottom: 40px;
}

/* Ensure header stays above page content */
header#header {
    position: relative;
}

header#header > div#div-header {
    background: #D72222;
    padding: 15px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    align-items: center;
    justify-content: center;
    position: relative;
}

header#header > div#div-header > a > img#img-accueil {
    position: absolute;
    top: 5px;
    width: 3.3%;
    left: 50px;
}


.header-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown .button {
    background: transparent;
    border: none;
    color: #fff;
    box-shadow: none;
}

.dropdown .button:hover {
    background: rgba(255,255,255,0.05);
}

.dropdown .caret {
    margin-left: 8px;
    font-size: 0.9rem;
    color: #fff;
}

.dropdown .dropdown-menu .dropdown-content .dropdown-item {
    color: #333;
}

header#header > img#img-header {
    width: 7%;
    max-width: 75px;
    position: absolute;
    top: 10px;
    right: 20px;
}


@media screen and (max-width: 900px) {
    header#header > img#img-header {
        top: 8px;
        right: 10px;
        width: 4%;
    }

    header#header > div#div-header {
        padding: 15px;
    }

    header#header {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 450px) {
    header#header > img#img-header {
        top: 8px;
        right: 10px;
        width: 4%;
    }

    header#header > div#div-header {
        padding: 10px;
    }

    header#header {
        padding-bottom: 10px;
    }
}

/* Ensure the page and main can use full viewport height */
html, body {
    height: 100%;
    margin: 0;
}

/* Make the main container at least full viewport height */
main.is-flex {
    min-height: 100vh;
}

/* Stretch the first child div of main to full height */
main.is-flex > div:first-child {
    min-height: 100vh;
}